@page "/alcoholingredients"

<PageTitle>Alcohol Ingredients</PageTitle>

@using DrinksWebApp.Models
@using DrinksWebApp.Data
@using DrinksWebApp.Services
@inject AlcoholIngredientService alcoholIngredientService

<h1>Alcohol Ingredients</h1>

<NavLink class="nav-link" href="alcoholingredients/add">
    <span class="oi oi-plus" aria-hidden="true"></span> Dodaj
</NavLink>

@if (ingredients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Alcohol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in @ingredients)
            {
                <tr>
                    <td>@ingredient.Name</td>
                    <td>@ingredient.AlcoholVolume</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AlcoholIngredient[]? ingredients;

    protected override async Task OnInitializedAsync()
    {
        ingredients = await alcoholIngredientService.GetAll();
    }
}